*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family:"Poppins",sans-serif;
}
.navbar{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content:space-between;
    padding: 2% 4% ;
    z-index: 10;
}
.navbar_netflix{
    width: 180px;
    height: 100%;
}
.navbar_nav_items{
    display: flex;
    gap: 30px;
}
.netflix_logo{
    width: 100%;
    height: 100%;
}
.dropdown_menu{
    background: transparent;
    border:none;
    color: white;
}
.dropdown_container{
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background-color: rgba(0,0,0,0.4);
}
.SignIn_button{
    border: #dc030f;
    background-color: #dc030f;
    color: white;
    padding: 0.25rem;
    border-radius: 4px;
    height: 35px;
    width: 100px;
}
.hero_bg_img{
    width: 100%;
    height: 100%;

}
.bg{
    width: 100%;
    height:100%;
    object-fit:cover;
}
.hero_bg_overlay{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-image:radial-gradient(
        rgba(0,0,0,0.4) 10%,
        rgba(0,0,0,0.4) 20%,
        rgba(0,0,0,0.8) 60%);   
}
.hero_card{
    position: absolute;
    top: 30%;
    left: 30%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.hero_title{
    font-weight: 600;
    font-size: 4rem;
}
.hero_description{
    font-weight: 400;
    font-size: 1.3rem;
}
.hero_subtitle{
    font-weight: 400;
    font-size: 2rem;
}
.email{
    width: 450px;
    height: 60px;
    color: black;
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    border-color: white;
}
.get_started{
    font-size: 26px;
    width: 214px;
    height: 60px;
    background-color: #dc030f;
    border: #dc030f;
    color: white;
}
.style_cards{
    border: 4px rgb(69,69,69);
    padding: 50px;
}
.card-1{
    position: absolute;
    text-align: left;
    align-items:center;
    grid-template-columns: 50% 40%;
    padding: 25px 45px 50px;
    display: flex;
}
.desc-1{
    padding-left: 80px;
    width: 50%;
}
.card-1 img{
    position: relative;
}
.card-1 video{
    position:absolute;
    width: 100%;
    height: 45%;
    overflow: hidden;
    top: 20%;
    left: 22.9%;
    z-index: -1;
}
.style_cards h1{
    font-size: 4rem;
    padding: 1rem;
    padding-left: 0;
}
.style_cards h3{
    font-size:1.6rem;
    line-height: 2rem;
}
.card-2{
    display: flex;
    position: relative;
    text-align: left;
    align-items:center;
    grid-template-columns: 40% 50%;
    padding: 25px 45px 50px;
}
.card-2 img{
    position: relative;
}
.desc-2{
    padding-left: 100%;
}
.card-3{
    position: relative;
    text-align: left;
    align-items:center;
    padding: 25px 45px 50px;
    display: flex;
}
.desc-3{
    padding-left: 80px;
}
.card-3 img{
    position:relative;
}
.card-3 video{
    position: absolute;
    top: 12%;
    left: 13%;
    width: 100%;
    height: 41%;
    z-index: -1;

}